body {
    font-family: "Roboto", sans-serif;
    color: #1b1b1b;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    background-color: #f9fbfd;
    font-size: 1rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

h1,
h2,
h3 {
    margin-bottom: auto;
}

.div-page {
    width: 650px;
    background-color: #ffffff;
    padding: 80px;
    border: 1px solid #dfdfdf;
}

p,
li {
    line-height: 1.4;
}

a {
    color: #1155cc;
}

.box1,
.box2 {
    background-color: #e6e6fa;
    padding: 12px;
    color: #adadad;
}

.box2 {
    border: 1px solid #5f61c7;
}

.t-gray {
    color: #1b1b1b;
}

.t-blue {
    color: #0b5394;
}

.t-red {
    color: #ff0000;
}

.t-green {
    color: #38761d;
}

code {
    font-family: "Exo 2", sans-serif;
}

img {
    width: 100%;
}

.code-bg {
    color: #5f61c7;
    background-color: #f0f0f0;
    padding: 0px 4px 1px 4px;
}

/* Estilização da tabela */
table {
    border-collapse: collapse;
    width: 100%;
}

table td,
table th {
    border: 1px solid #1b1b1b;
    padding: 15px;
    text-align: left;
}

#fonte-artigo {
    font-size: 12px;
    text-align: right;
    padding-top: 50px;
}